body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

nav.navbar {
    background: #accfed none repeat scroll 0 0;
}

.active {
    background-color: #004990;
}

.active a {
    color: white;
}