{{ define "navbar" }}
<nav class="navbar navbar-toggleable-md fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li {{if eq .Active "home"}} class="nav-item active" {{else}} class="nav-item" {{end}}>
        <a class="nav-link" href="/">Home</a>
      </li>
      <li {{if eq .Active "about"}} class="nav-item active" {{else}} class="nav-item" {{end}}>
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
{{ end }}